DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=conectadesk
DB_USER=conectadesk
DB_PASSWORD=conectadesk
APP_URL=http://localhost:8000
MAIL_FROM=nao-responda@conectadesk.local
DB_SSL_MODE=required
DB_SSL_CA=
DB_SSL_CA_CONTENT=